doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title A refreshing sip of Lemonade

		//- Metas
		- metaDescription = {name: 'description', content: 'Limonada fresquita, para los calores del verano'}
		- metaViewport = {name: 'viewport', content: 'width=device-width, initial-scale=1'}
		- msTileColor = {name: 'msapplication-TileColor', content: '#ffffff'}
		- msTileImage = {name: 'msapplication-TileImage', content: '../images/favicon/ms-icon-144x144.png'}
		- msThemeColor = {name: 'theme-color', content: '#ffffff'}
		each meta in [metaDescription, metaViewport, msTileColor, msTileImage, msThemeColor]
			meta(name='#{meta.name}', content='#{meta.content}')

		//- Apple Touch Favicons
		each size in ['57', '60', '72', '76', '114', '120', '144', '152', '180']
			link(rel='apple-touch-icon', sizes='#{size}x#{size}', href='../images/favicon/apple-icon-#{size}x#{size}.png')

		//- Android Favicon
		link(rel='icon', type= 'image/png', sizes='192x192', href='../images/favicon/android-icon-192x192.png')

		//- Standart Favicons
		each size in ['32', '96', '16']
			link(rel='icon', type= 'image/png', sizes='#{size}x#{size}', href='../images/favicon/favicon-#{size}x#{size}.png')

		//- Manifest
		link(rel= 'manifest', href= '../images/favicon/manifest.json')


		//- CSS
		each css in ['main']
			link(rel='stylesheet', href='../css/#{css}.css', type='text/css')

		//- Javascripts
		each js in ['http://code.jquery.com/jquery-1.11.3.min.js', '../js/script.min.js']
			script(src='#{js}', type='text/javascript')
				
	include _lorem

	body
		header
			nav
		article
			h1 Título de prueba
			div.felicidad 
				h2 A continuación unos párrafos aleatorios
			each parrafo in [12, 38, 52, 41, 25, 16, 37, 28, 29, 23]
					p
						mixin lipsum(parrafo, 'sentences')
		footer
