extends templates/_page

block pageTitle
	h1 Menú Tab JS

block pageContent
	div.menu-tab
		ul.menu-tab-options
			- denominador = 'Pestaña' + ' '
			- casos = [1, 2, 3, 4, 5]
			each tab, i in casos
				- index = i + 1
				- pestaña = denominador + index
				li
					a(href='#' data-tab='#{index}') #{pestaña}

		div.menu-tab-content
			each content, i in casos
				- index = i + 1
				- contenido = denominador + index
				div(data-content='#{index}')
					h1 #{contenido}
					each parrafo in [12, 25, 15, 21, 18]
						p
							mixin lipsum(parrafo, 'sentences')

	div.menu-tab
		ul.menu-tab-options
			- denominador = 'Pestaña' + ' '
			- casos = [1, 2, 3, 4, 5]
			each tab, i in casos
				- index = i + 1
				- pestaña = denominador + index
				li
					a(href='#') #{pestaña}

		div.menu-tab-content
			each content, i in casos
				- index = i + 1
				- contenido = denominador + index
				div 
					h1 #{contenido}
					each parrafo in [12, 25, 15, 21, 18]
						p
							mixin lipsum(parrafo, 'sentences')