doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title Lemonade | A refreshing sip 

		//- Metas
		- metaDescription = {name: 'description', content: 'Limonada fresquita, para los calores del verano'}
		- metaViewport = {name: 'viewport', content: 'width=device-width, initial-scale=1'}
		- msTileColor = {name: 'msapplication-TileColor', content: '#ffffff'}
		- msTileImage = {name: 'msapplication-TileImage', content: 'images/favicon/ms-icon-144x144.png'}
		- msThemeColor = {name: 'theme-color', content: '#ffffff'}
		each meta in [metaDescription, metaViewport, msTileColor, msTileImage, msThemeColor]
			meta(name='#{meta.name}', content='#{meta.content}')

		//- //- Apple Touch Favicons
		//- each size in ['57', '60', '72', '76', '114', '120', '144', '152', '180']
		//- 	link(rel='apple-touch-icon', sizes='#{size}x#{size}', href='../images/favicon/apple-icon-#{size}x#{size}.png')

		//- //- Android Favicon
		//- link(rel='icon', sizes='192x192', href='../images/favicon/android-icon-192x192.png')

		//- Standart Favicons
		each size in ['32', '96', '16']
			link(rel='icon', sizes='#{size}x#{size}', href='../images/favicon/favicon-#{size}x#{size}.png')

		//- Manifest
		//- link(rel= 'manifest', href= '../images/favicon/manifest.json')


		//- CSS | Recursos
		- fontAwesome = 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
		each  css in [fontAwesome]
			link(rel='stylesheet', href='#{css}')

		//- CSS
		each css in ['main']
			link(rel='stylesheet', href='../css/#{css}.css')

		//- Javascript | Librerías
		each js in ['http://code.jquery.com/jquery-1.11.3.min.js']
			script(src='#{js}')

		//- Javascript | Plugins
		each js in ['iframeheight']
			script(src='../js/vendors/min/#{js}.min.js')

		//- Javascript | Propios
		each js in ['script',  'iframe']
			script(src='../js/min/#{js}.min.js')
			
	include ../helpers/_lorem